.menu-container {
  
  .menu{
    position: relative;
    margin: 5px;
    .menu-icon{
      cursor: pointer;
    }
    .menu-body{
      border: 1px solid rebeccapurple;
      
      a{
        display: block;
      }
       &.open{
        position: absolute;
        top: 100%;
        right: 0;
        display: block;
      }
      &.closed{
        display: none;
      }
      
    }
     
    .menu-item{
      height: 30px;
      width: 130px;
      
      padding: 5px;
      &:hover{
        background-color: rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid green;
      }
      
    }
  }
}